<div class="profile-page">
  <app-loading-spinner></app-loading-spinner>
  <form [formGroup]="profileForm">
    <!-- Cover banner -->
    <div class="profile-banner">
      <div class="profile-avatar-wrapper">
        <input id="profile-image-selector" hidden type="file" (change)="onFileSelected($event)" />
        <img [src]="profileImageSrcSignal()" alt="Profile photo" class="profile-avatar" />
        <button
          type="button"
          class="camera-icon-button"
          aria-label="Change profile picture"
          (click)="onChangeProfileImageClick()"
        >
          <span class="bi bi-camera"></span>
        </button>
      </div>
      <div class="profile-banner-actions">
        <app-formbutton label="Change Password" (onClick)="onChangePassword()"></app-formbutton>
      </div>
    </div>

    <!-- Identity -->
    <div class="profile-identity">
      <h2 class="profile-name">{{ profileSignal?.firstName }} {{ profileSignal?.lastName }}</h2>
      <p class="profile-email text-muted">{{ profileSignal?.email }}</p>
    </div>

    <!-- Profile info -->
    <div class="px-3 px-md-4 pb-3">
      <h3 class="section-title">{{ labels.captionProfileInformation }}</h3>
      <div class="row g-3">
        <div class="col-12 col-md-6">
          <app-textfield
            class="w-100"
            label="{{ labels.labelFirstName }}"
            formControlName="firstName"
          ></app-textfield>
        </div>
        <div class="col-12 col-md-6">
          <app-textfield
            class="w-100"
            label="{{ labels.labelLastName }}"
            formControlName="lastName"
          ></app-textfield>
        </div>
        <div class="col-12 col-md-9">
          <app-textfield
            class="w-100"
            label="{{ labels.labelEmail }}"
            formControlName="email"
          ></app-textfield>
        </div>
        <div class="col-12 col-md-3">
          <app-textfield
            type="date"
            class="w-100"
            label="{{ labels.labelDateOfBirth }}"
            [placeHolder]="'Select your date of birth'"
            formControlName="dateOfBirth"
          ></app-textfield>
        </div>
      </div>

      <hr class="section-divider" />
      <h3 class="section-title">{{ labels.captionAddressInformation }}</h3>
      <div class="row g-3">
        <div class="col-12 col-md-8">
          <app-textfield
            class="w-100"
            label="{{ labels.labelStreet }}"
            formControlName="street"
          ></app-textfield>
        </div>
        <div class="col-12 col-md-4">
          <app-textfield
            class="w-100"
            label="{{ labels.labelHouseNumber }}"
            formControlName="houseNumber"
          ></app-textfield>
        </div>
        <div class="col-12 col-md-2">
          <app-textfield
            class="w-100"
            label="{{ labels.labelPostalCode }}"
            formControlName="postalCode"
          ></app-textfield>
        </div>
        <div class="col-12 col-md-5">
          <app-textfield
            class="w-100"
            label="{{ labels.labelCity }}"
            formControlName="city"
          ></app-textfield>
        </div>
        <div class="col-12 col-md-5">
          <app-textfield
            class="w-100"
            label="{{ labels.labelCountry }}"
            formControlName="country"
          ></app-textfield>
        </div>
      </div>
    </div>
  </form>

  <hr class="section-divider" />
  <div class="d-flex justify-content-end gap-2 px-3 px-md-4 pb-4 mt-4">
    <app-formbutton
      label="{{ labels.labelRevertChanges }}"
      [disabled]="!profileForm.dirty"
      (onClick)="onRevertChanges()"
    ></app-formbutton>
    <app-formbutton
      label="{{ labels.labelSaveChanges }}"
      [disabled]="!profileForm.dirty || profileForm.invalid"
      (onClick)="onSaveChanges()"
    ></app-formbutton>
  </div>
</div>
