<div class="signin-page">
  <div class="signin-left">
    <div class="signin-greeting">
      <h1 class="greeting-title">{{ labels.captionWelcomeBack }}</h1>
      <p class="greeting-subtitle mt-3">
        {{ labels.subTitleWelcomeBack }}
      </p>
    </div>
  </div>

  <div class="signin-right">
    <div class="signin-form-wrapper">
      <h2 class="signin-title">{{ labels.captionSignIn }}</h2>
      <p class="signin-subtitle mt-2">{{ labels.subTitleSignIn }}</p>

      <form [formGroup]="signInForm" (ngSubmit)="handleSignIn()">
        <app-textfield
          label="{{ labels.labelEmail }}"
          type="email"
          [required]="true"
          formControlName="email"
        />
        <app-textfield
          label="{{ labels.labelPassword }}"
          type="password"
          [required]="true"
          formControlName="password"
        />

        @if (errorMessage()) {
          <p role="alert" class="text-danger fs-6 mt-1 mb-2">{{ errorMessage() }}</p>
        }

        <div class="d-flex justify-content-end mt-5">
          <app-formbutton
            type="submit"
            [label]="labels.labelSignIn"
            [disabled]="signInForm.invalid"
          />
        </div>
      </form>

      <hr class="my-5" />
      <p class="text-center text-muted mb-0 fs-6">
        {{ labels.labelDontHaveAccount }}
        <a routerLink="/signup" class="signin-link">{{ labels.labelSignUp }} </a>
      </p>
    </div>
  </div>
</div>
