<div class="change-password-page">
  <form class="h-100 d-flex flex-column" [formGroup]="changePasswordForm">
    <!-- Banner -->
    <div class="cp-banner"></div>

    <!-- Centered content -->
    <div
      class="flex-grow-1 d-flex flex-column justify-content-center align-items-center px-3 px-md-4 py-4"
    >
      <div class="mt-4" style="max-width: 480px; width: 100%">
        <h2 class="cp-title mb-4">{{ labels.captionChangePassword }}</h2>
        <div class="row g-3">
          <div class="col-12">
            <app-textfield
              class="w-100"
              label="{{ labels.labelCurrentPassword }}"
              type="password"
              formControlName="currentPassword"
            ></app-textfield>
          </div>
          <div class="col-12">
            <app-textfield
              class="w-100"
              label="{{ labels.labelNewPassword }}"
              type="password"
              formControlName="newPassword"
            ></app-textfield>
          </div>
          <div class="col-12">
            <app-textfield
              class="w-100"
              label="{{ labels.labelConfirmNewPassword }}"
              type="password"
              formControlName="confirmPassword"
            ></app-textfield>
          </div>
          @if (message()) {
            <p role="alert" class="text-danger fs-6 mt-1 mb-0">{{ message() }}</p>
          }
          <div class="d-flex justify-content-end gap-2 pb-2">
            <app-formbutton
              label="{{ labels.labelCancel }}"
              [disabled]="!changePasswordForm.dirty"
              (onClick)="onCancel()"
            ></app-formbutton>
            <app-formbutton
              label="{{ labels.labelSave }}"
              [disabled]="!changePasswordForm.dirty || !changePasswordForm.valid"
              (onClick)="onSave()"
            ></app-formbutton>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
