<div class="signup-page">
  <div class="signup-left">
    <div class="signup-greeting">
      <h1 class="greeting-title">{{ labels.captionGetStarted }}</h1>
      <p class="greeting-subtitle mt-3">{{ labels.subTitleGetStarted }}</p>
    </div>
  </div>

  <div class="signup-right">
    <div class="signup-form-wrapper">
      <h2 class="signup-title">{{ labels.captionSignUp }}</h2>
      <p class="signup-subtitle mt-2">{{ labels.subTitleSignUp }}</p>

      <form [formGroup]="signupForm" (ngSubmit)="handleSignUp()">
        <app-textfield
          [label]="labels.labelFirstName"
          type="text"
          [required]="true"
          formControlName="firstName"
        />
        <app-textfield
          [label]="labels.labelLastName"
          type="text"
          [required]="true"
          formControlName="lastName"
        />
        <app-textfield
          [label]="labels.labelEmail"
          type="email"
          [required]="true"
          formControlName="email"
        />
        <app-textfield
          [label]="labels.labelPassword"
          type="password"
          [required]="true"
          formControlName="password"
        />
        <app-textfield
          [label]="labels.labelConfirmPassword"
          type="password"
          [required]="true"
          formControlName="passwordValidation"
        />

        @if (
          signupForm.errors?.['passwordMismatch'] &&
          signupForm.controls['passwordValidation'].touched &&
          !signupForm.controls['passwordValidation'].disabled
        ) {
          <p role="alert" class="text-danger fs-6 mt-1 mb-2">{{ labels.errorPasswordMismatch }}</p>
        }
        @if (errorMessage()) {
          <p role="alert" class="text-danger fs-6 mt-1 mb-2">{{ errorMessage() }}</p>
        }

        <div class="d-flex justify-content-end mt-5">
          <app-formbutton
            type="submit"
            [label]="labels.captionSignUp"
            [disabled]="signupForm.invalid"
          />
        </div>
      </form>

      <hr class="my-4 mt-5" />
      <p class="text-center text-muted mb-0 fs-6">
        {{ labels.labelAlreadyHaveAccount }}
        <a routerLink="/signin" class="signup-link">{{ labels.labelSignIn }}</a>
      </p>
    </div>
  </div>
</div>
